*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
.section__title {
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	align-self: end;
}
.section__title span:first-child {
	color: #fc6744;
}
.section__text {
	font-size: 16px;
	line-height: 25px;
	color: #6C6C6C;
	text-align: center;
}

/*-------------меню гамбургер--------------*/
/* скрываем чекбокс */
#menu__toggle {
	opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
	display: flex; /* используем flex для центрирования содержимого */
	align-items: center;  /* центрируем содержимое кнопки */
	position: absolute;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #616161;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}
/* контейнер меню */
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
	z-index: 1;
}
/* элементы меню */
.menu__item {
	display: block;
	padding: 12px 24px;
	color: #6C6C6C;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
}
.menu__item:hover {
	background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
}
/*-------------шапка и первый блок-----------------*/
.block1 {
	background: linear-gradient(#F5F5F5 50%, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.1));
}
.block1__content {
	max-width: 1180px;
	padding: 80px 20px 0px 20px;
	display: grid;
	margin: 0 auto;
	position: relative;
}
.header {
	display: flex;
	justify-content: space-between;
}
.header__logo {
	font-size: 38px;
	line-height: 35px;
	color: #6C6C6C;
	font-weight: 600;
	text-align: center;
	border: 4px solid #6C6C6C;
	max-width: 150px;
	padding: 9px;
}
.header__logo span:first-child {
	color: #fc6744;
}
.block1__section {
	height: 400px;
	color: #6C6C6C;
	grid-gap: 35px;
}
.section {
	display: grid;
	justify-self: center;
	max-width: 700px;
}
.block1__form {
	display: grid;
	grid-row-gap: 20px;
	color: #000;
	width: 370px;
	border-radius: 2px;
	filter: drop-shadow(0 0 28.5px rgba(20,20,21,0.2));
	background-color: #fff;
	padding: 25px 40px 20px 40px;
	margin: -3px;
}
.block1__form span:first-child {
	justify-self: end;
	color: #fc6744;
	font-weight: 600;
	grid-row: 1;
	grid-column: 1;
}
.block1__form span {
	justify-self: start;
	font-size: 20px;
	line-height: 25px;
	grid-row: 1;
	grid-column: 2;
}
.form__name {
	font-size: 15px;
	line-height: 25px;
	border-bottom: 1px solid #C7C7C7;
	grid-row: 2;
	grid-column: 1/3;
	height: 40px;
}
.form__email {
	font-size: 15px;
	line-height: 25px;
	border-bottom: 1px solid #C7C7C7;
	grid-row: 3;
	grid-column: 1/3;
	height: 40px;
}
.form__message {
	font-size: 15px;
	line-height: 25px;
	border-bottom: 1px solid #C7C7C7;
	grid-row: 4;
	grid-column: 1/3;
	height: 90px;
}
.form__button {
	justify-self: center;
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
	grid-row: 5;
	grid-column: 1/3;
	background: #ff5c36;
	width: 240px;
	height: 55px;
	border-radius: 30px;
}
.form__button:hover {
	filter: drop-shadow(1.91px 10.833px 10px rgba(20,20,21,0.08));
	border: 1px solid rgba(1,2,2,0.07);
}
.block1__background {
	position: absolute;
	max-width: 100%;
	bottom: 0;
	right: 0;
	z-index: -1;
}
/*-------------второй блок-------------*/
.block2 {
	max-width: 1180px;
	padding: 30px 20px 130px 20px;
	display: grid;
	margin: 0 auto;
}
.block2__section {
	grid-gap: 20px;
	height: 300px;
}
.block2__cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	grid-gap: 30px;
}
.cards__link {
	display: grid;
	align-content: space-between;
	text-decoration: none;
	color: #ffffff;
	width: 262px;
	height: 263px;
	margin-bottom: 50px;
}
.cards__link:hover {
	filter: drop-shadow(0 0 17.5px rgba(20,20,21,0.21));
}
.cards__link div:hover {
	filter: drop-shadow(1.042px 5.909px 7px rgba(20,20,21,0.09));
}
.cards__link img {
	justify-self: center;
	padding-top: 50px;
}
.cards__link h3 {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
.cards__link p {
	justify-self: center;
	width: 212px;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
}
.cards__link div {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 228px;
	height: 55px;
	border-radius: 27px;
	color: #000;
	background: #fff;
	filter: drop-shadow(0 0 7px rgba(20,20,21,0.05));
	margin-bottom: -27px;
}
.cards__link div > span:first-child {
	font-size: 30px;
	font-weight: 300;
}
.dodgerBlue {
	background-color: #4eb2f7;
}
.darkOrchid {
	background-color: #c049f8;
}
.slateBlue {
	background-color: #817eff;
}
.crimson {
	background-color: #f74770;
}
/*---------третья часть-------*/
.block3 {
	background: #FBFBFB;
}
.block3__content {
	max-width: 1180px;
	padding: 0px 20px 170px 20px;
	display: grid;
	margin: 0 auto;
}
.block3__section {
	grid-gap: 20px;
	height: 300px;
}
.block3__foto {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 20px;
	grid-column-gap: 30px;
}
.block3__foto img {
	display: block;
	width: 100%;
}
/*-------------------------попап----------------------*/
body.lock{
	overflow: hidden;
}
.popup{
	display: grid;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	z-index: 10;
}
.popup__content{
	position: relative;
}
.popup.open{
	opacity: 1;
	visibility: visible;
}
.close-popup{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
.popup__image {
	max-width: 100%;
	vertical-align: top;
}
/*---------четвёртая часть-------*/
.block4 {
	max-width: 1210px;
	padding: 30px 20px 130px 20px;
	display: grid;
	grid-column-gap: 110px;
	margin: 0 auto;
}
.block4__section {
	grid-row: 1;
	grid-column: 1/4;
	grid-gap: 20px;
	height: 300px;
}
.block4__link {
	display: grid;
	grid-gap: 7px;
	grid-row: 2;
}
.block4__link a {
	display: grid;
	width: 104px;
	height: 92px;
	border-radius: 2px;
	filter: drop-shadow(0 0 0.5px rgba(20,20,21,0.14));
	background-color: #fbfbfb;
}
.block4__link a:hover {
	filter: drop-shadow(0 0 18px rgba(20,20,21,0.2));
	background-color: #ffffff;
}
.block4__link img {
	justify-self: center;
	align-self: center;
}
.block4__description {
	display: grid;
	grid-gap: 20px;
	align-content: space-between;
	grid-row: 2;
}
.block4__description h3 {
	font-size: 30px;
	line-height: 46px;
	font-weight: 400;
}
.block4__description div {
	width: 57px;
	height: 3px;
	background-color: #ff5c36;
}
.block4__description p {
	max-width: 521px;
	line-height: 25px;
}
.block4__description a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 238px;
	height: 55px;
	border-radius: 27px;
	color: #000;
	text-decoration: none;
	background: #fff;
	filter: drop-shadow(1.042px 5.909px 7px rgba(20,20,21,0.09));
}
.block4__description a:hover {
	filter: drop-shadow(1.91px 10.833px 10px rgba(20,20,21,0.07));
	border: 1px solid rgba(1,2,2,0.07);
}
.block4__description a > span:first-child {
	font-size: 30px;
	font-weight: 300;
}
.block4__img {
	grid-row: 2;
}
/*---------пятая часть-------*/
.block5 {
	background: #FBFBFB;
}
.block5__content {
	max-width: 1180px;
	padding: 0px 20px 170px 20px;
	display: grid;
	margin: 0 auto;
}
.block5__section {
	grid-gap: 20px;
	height: 300px;
}
.block5__team {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}
#layer11, #layer21, #layer31 {
	visibility: visible;
}
#layer12, #layer22, #layer32 {
	visibility: hidden;
}
.block5__teammate {
	display: grid;
	position: relative;
	max-width: 360px;
}
.block5__teammate_layer1 {
	max-width: 100%;
	max-height: 100%;
	justify-self: center;
}
.block5__teammate_layer2 {
	position: absolute;
	display: grid;
	justify-content: center;
	align-content: end;
	width: 100%;
	height: 100%;
	filter: drop-shadow(0 0 1px rgba(20,20,21,0.6));
	border: 1px solid rgba(1,2,2,0.07);
}
.teammate_layer2_nameplate {
	margin-bottom: -25px;
	width: 260px;
	border-radius: 2px;
	filter: drop-shadow(1.042px 5.909px 8px rgba(20,20,21,0.08));
	background: #fff;
}
.teammate_layer2_nameplate h3 {
	font-size: 30px;
	line-height: 46px;
	font-weight: 600;
	text-align: center;
}
.teammate_layer2_nameplate p {
	line-height: 48px;
	font-weight: 300;
	text-align: center;
}
.block5__teammate_layer3 {
	position: absolute;
	display: grid;
	justify-content: center;
	align-content: end;
	grid-gap: 70px;
	width: 100%;
	height: 100%;
	filter: drop-shadow(0 0 24.5px rgba(20,20,21,0.11));
	background: linear-gradient(rgba(255, 255, 255, 0.5) 30%, #fff3f0 50%);
}
.teammate_layer3_skills p {
	font-size: 11px;
	text-align: center;
}
.teammate_layer3_skills img {
	max-width: 150px;
	margin: -5px 0px 5px 0px;
}
.teammate_layer3_nameplate h3 {
	font-size: 30px;
	line-height: 16px;
	color: #202020;
	font-weight: 600;
	text-align: center;
}
.teammate_layer3_nameplate p {
	font-size: 17px;
	line-height: 48px;
	color: #ff724c;
	font-weight: 300;
	text-align: center;
}
.teammate_layer3_socials {
	display: flex;
	grid-gap: 15px;
	justify-content: center;
	padding-bottom: 15px;
}
.teammate_layer3_socials img {
	width: 20px;
}
/*-------адаптив------------*/
@media (max-width: 1000px) {
	.block4 {
		grid-column-gap: 60px;
	}
	.block4__img {
		width: 100%;
	}
	.teammate_layer2_nameplate {
		width: 200px;
	}
	.block5__teammate_layer3 {
		grid-gap: 50px;
	}
}
@media (max-width: 768px) {
	.block1__content {
		padding: 50px 20px 0px 20px;
	}
	.block1__section {
		grid-gap: 25px;
		height: 300px;
	}
	.block1__background {
		height: 300px;
	}
	.block2 {
		padding: 20px 20px 100px 20px;
	}
	.block2__section {
		height: 250px;
	}
	.block3__content {
		padding: 0px 20px 80px 20px;
	}
	.block3__section {
		height: 260px;
	}
	.block3__foto {
		grid-row-gap: 15px;
		grid-column-gap: 20px;
	}
	.block4 {
		padding: 20px 20px 80px 20px;
		grid-column-gap: 60px;
	}
	.block4__section {
		height: 260px;
	}
	.block4__img {
		display: none;
	}
	.block5__content {
		padding: 0px 20px 100px 20px;
	}
	.block5__section {
		height: 250px;
	}
}
@media (max-width: 760px) {
	.block5__team {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 30px;
	}
}
@media (max-width: 480px) {
	.block1__content {
		padding: 30px 10px 0px 10px;
	}
	.block1__section {
		grid-gap: 20px;
	}
	.section__title {
		font-size: 30px;
	}
	.block1__form {
		width: 100%;
		padding: 25px 20px 20px 20px;
	}
	.block1__background {
		display: none;
	}
	.block2 {
		padding: 10px 10px 50px 10px;
	}
	.block2__section {
		height: 200px;
	}
	.block3__content {
		padding: 0px 10px 50px 10px;
	}
	.block3__section {
		height: 240px;
	}
	.block3__foto {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 10px;
		grid-column-gap: 10px;
	}
	.block4 {
		padding: 20px 10px 50px 10px;
		grid-column-gap: 0px;
	}
	.block4__section {
		height: 240px;
		grid-column: 1;
	}
	.block4__link {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 5px;
	}
	.block4__description {
		grid-row: 3;
	}
	.block4__description h3 {
		font-size: 25px;
	}
	.block5__content {
		padding: 0px 10px 80px 10px;
	}
	.block5__section {
		height: 200px;
	}
	.block5__team {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}
	.teammate_layer2_nameplate h3 {
		font-size: 26px;
	}
	.teammate_layer3_nameplate h3 {
		font-size: 26px;
	}
}